<div class="container col-md-6">
    <div class="card">
      <div class="card-header">
        <h3>Agregar Employee</h3>
      </div>
      <div class="card-body">
        <form>
          <div class="form-group">
            <label for="name">Nombre</label>
            <input [(ngModel)]="employee.name" name="name" type="text" class="form-control">
          </div>
          <div class="form-group">
            <label for="surname">Apellido</label>
            <input [(ngModel)]="employee.surname" name="surname" type="text" class="form-control">
          </div>
          <div class="form-group">
            <label for="email">Email</label>
            <input [(ngModel)]="employee.email" name="email" type="email" class="form-control">
          </div>
          <div class="form-group">
            <label for="position">Posición</label>
            <input [(ngModel)]="employee.position" name="position" type="text" class="form-control">
          </div>
          <div class="form-group">
            <label for="age">Edad</label>
            <input [(ngModel)]="employee.age" name="age" type="number" class="form-control">
          </div>
          <button (click)="Guardar()" class="btn btn-danger">Guardar</button>
        </form>
      </div>
    </div>
  </div>
  
