<div class="container">
    <div class="card">
        <div class="card-header">
            <h3>Enterprises</h3>
        </div>
        <div class="card-body">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Created By</th>
                        <th>Create Date</th>
                        <th>Modified By</th>
                        <th>Modified Date</th>
                        <th>Status</th>
                        <th>Name</th>
                        <th>Address</th>
                        <th>Phone</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let enterprise of enterprises" class="text-center">
                        <td>{{enterprise.id}}</td>
                        <td>{{enterprise.createdBy}}</td>
                        <td>{{enterprise.createDate | date: 'yyyy-MM-dd HH:mm:ss'}}</td>
                        <td>{{enterprise.modifiedBy}}</td>
                        <td>{{enterprise.modifiedDate | date: 'yyyy-MM-dd HH:mm:ss'}}</td>
                        <td>{{enterprise.status}}</td>
                        <td>{{enterprise.name}}</td>
                        <td>{{enterprise.address}}</td>
                        <td>{{enterprise.phone}}</td>
                        <td>
                            <button (click)="Editar(enterprise)" class="btn btn-warning">Edit</button>
                            <button (click)="Delete(enterprise)" class="btn btn-danger">Delete</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
